
/* Import reset CSS */
@import url("reset.css");




@media (max-width: 799px) {
  .bio-img {
    width: 100%;
    height: auto;
    margin-bottom: .6em;
  }
}

@media (min-width: 800px) {
  .bio-img {
    float:left;
    max-width: 50%;
    height: auto;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .bio-img {

    max-width: 300px;

  }
}

h1 {
  color: #367C79; /* #4aaaa5 doesn't meet WCAG 2.0 contrast requirements */
  font-family: 'Georgia', Times, Times New Roman, serif;

  font-size: 1.5em;
}

h2 {
  color: #367C79; /* #4aaaa5 doesn't meet WCAG 2.0 contrast requirements */
  font-family: 'Georgia', Times, Times New Roman, serif;

  font-size: 1.3em;
}

h2.social-media {
  margin-left: auto;
  margin-right: auto;
}

hr {
  color: #cccccc;
  margin-bottom: 15px;
}

/* No padding between header and first paragraph */
/*
h1 ~ p:first-of-type {
  margin-top: 0px;
}
*/
header {
  background-color: #FFFFFF !important;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 30px;
}

nav {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  padding:20px;
  margin-right: 15px;
  margin-left: 15px;

}

#logo {
  background-color: #367C79;
  color: white;
  font-size: 1.3em;
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding:20px;
  margin-right: 15px;
  margin-left: 15px;

}

@media (min-width: 525px) {
  #headerwrapper {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@media (max-width: 524px) {
  #headerwrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}



body {
  color: #727272; /* #777777 doesn't meet WCAG 2.0 contrast requirements */
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/cork-wallet.png");
  background-repeat: repeat;
}

footer {
  background-color: #666666;
  color: #FDFDFD;
}

#main-content {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  flex: 1 1 70%;
  padding: 20px;
  padding-top: 0;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

#social-media {
  background-color: #FFFFFF;
  border: 1px solid #dddddd;
  flex: 1 1 20%;
  width: 20%;
  min-width: 180px;
  text-align: center;
  align-self: flex-start;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 25px;
  margin-bottom: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

hr.social-media {
  max-width: 94%;
}

.sm-icon {
  padding: 0px;
  margin: 0px;
  width: 31%;
  height: auto;
}


#wrapper, #headerwrapper { /* Use the same margins for the header and body content so they align */
  margin: 0 auto;
  display: flex;
}

#wrapper {
    justify-content: space-between;
}

@media (min-width: 600px) {
  #wrapper, #headerwrapper {
    width: 80%;
  }
}

@media (max-width: 599px) {
  #wrapper, #headerwrapper {
    width: 96%;
  }
}

@media (min-width: 800px) {
  #wrapper {
    flex-wrap: nowrap;
  }
}

@media (max-width: 799px) {
  #wrapper {
    flex-wrap: wrap;
  }
}

#content-pane {
  border: 1px solid #dddddd;
  width: 100%;
  height: 600px;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

/* Form styles */

form {
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: .4em;
  margin-bottom: 1em;
  margin-top: .3em;
}

input[type=submit] {
  margin-bottom: 1em;
}

.required:before {
  position: absolute;
  margin-left: -10px;
  content: "* ";
  color: #C00000;
}

/* Placeholder styling snipped from https://www.w3.org/WAI/GL/low-vision-a11y-tf/wiki/Placeholder_Research */
-webkit-input-placeholder {
  color: #767676;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #767676;
  opacity: 1;
}
::-moz-placeholder { /* Firefox 19 */
  color: #767676;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #767676;
  opacity: 1;
}

.sub-text {
  font-size: .8em;
}

/* Portfolio styles */

#portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -15px;
}

.portfolio-item {
  flex-grow: 1;
  flex-basis: 200px;
  width: 200px;
  min-width: 200px;
  max-width: 300px;
  margin: 15px;
  position: relative;
}

@media (max-width: 599px) {
  .portfolio-item {
    width: 100%;
    max-width: 100%;
  }
}

.portfolio-filler { /* 0-height boxes for last row spacing */
  flex-grow: 1;
  flex-basis: 200px;
  width: 200px;
  height: 0px;
  min-width: 200px;
  max-width: 300px;
  margin-left: 15px;
  margin-right: 15px;
}

.portfolio-item-img {
  width: 100%;
}

.portfolio-item-label {
  position: absolute;
  top: 69%;
  width: calc(100% - 20px);
  background: #367C79;
  color: #FFFFFF;
  text-align: center;
  padding: 6%;
  margin: 0;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
}


/* Footer styling */


.footer-text {
  color: #FFFFFF;
}